@model SifarishView.Areas.Darta.Models.MrityuDartaViewModel
@using SifarishView.Converter

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@{
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}
<script>
    window.print();
</script>
<style>
    @@media print {
        .print {
            margin-left: 50px;
            /*margin-right: -20px;*/
        }

        tr, th, td {
            border-color: #000 !important;
        }
    }

    .Page {
        page-break-after: always;
    }

    .write {
        font-family: Arial, sans-serif;
        font-size: 18px;
    }
</style>

<div class="Page print">
    @*nepali format*@
    <div class="hidden" style="position: absolute; top:6mm; left: 12mm">
        <img src="~/Content/img/logo.png" width="60" height="60" />
    </div>
    <table style="width: 100%;">
        <tr>
            <td>
                <table class="pull-right">
                    <tr><th style="margin-bottom: 0px; line-height: 16px; color: red;">अनुसूची-१३</th></tr>
                    <tr><th style="margin-bottom: 0px; line-height: 16px; color: red;">(नियम ७ संग सम्बन्धित)</th> </tr>
                </table>
            </td>
        </tr>
    </table>
    <div style="text-align:center">
        <h4 style="margin-bottom: 0px; line-height: 16px; color: red;">नेपाल सरकार</h4>
        <h4 style="margin-bottom: 0px; line-height: 16px; color: red;">संघिय मामिला तथा स्थानीय विकास मन्त्रालय</h4>
        <h4 style="margin-bottom: 0px; line-height: 16px; color: red;">केन्द्रिय पन्जिकरण विभाग</h4>
        <h4 style="margin-bottom: 0px; line-height: 16px; color: red;">स्थानीय पन्जिकाधिकारीको कार्यालय</h4>
        <h4 style="margin-bottom: 0px; line-height: 16px; color: red;">@UnicodeConverter.Default(Model.PanjiWardNo) नं. वडा, कार्यालय ............. , @Utility.GetPalikaById(Model.PanjiPalika) नगरपालिका</h4>
        <h4 style="margin-bottom: 0px; line-height: 16px; color: red;">@Utility.GetDistrictById(Model.PanjiDistrict) जिल्ला, @Utility.GetStateById(Model.PanjiState) ,नेपाल</h4>

        @*<h4 style="margin-bottom: 0px; line-height: 25px;">@Utility.GetWarehouseName().TrimStart()</h4>
            <h4 style="margin-bottom: 0px; line-height: 20px;">@Utility.GetWarehouseAddress().TrimStart()</h4>*@
    </div>
    <div style="text-align:center; margin-top: 10px;">
        <h2 style="margin-bottom: 0px; line-height: 25px;font-size:18px;">
            <u>मृत्यु दर्ताको प्रमाण-पत्र</u>

        </h2>

    </div>
    <br />
    <table style="width:100%">
        <tr style="text-align:left;" class="row header">
            <td>
                <table>
                    <tr>
                        <th>दर्ता नं.:</th>
                        <td>@UnicodeConverter.Default(Model.MrityuFaramDartaNo)</td>
                    </tr>

                </table>

            </td>

            <td>
                <table class="pull-right">
                    <tr>
                        <th>दर्ता मिति:</th>
                        <td>@UnicodeConverter.Default(Model.FaramDartaMiti)</td>
                    </tr>

                </table>
            </td>

        </tr>
    </table>
    <table>
        <tr style="text-align:left;">
            <td>
                <table>
                    <tr>
                        <th>पारिवारिक लगत फाराम नं.:</th>
                        <td>@UnicodeConverter.Default(Model.PariwarLagatFaramNo)</td>
                    </tr>
                </table>
            </td>

        </tr>

    </table>
    <br />
    <div class="row" style="text-justify:auto">
        <span style="font-size:16px;">यस कार्यालयमा खडा गरिएको मृत्यु दर्ता किताब अनुसार प्रमाणित गरिन्छ कि सूचक श्री/श्रीमती <u><b>@Model.InfNaamThar</b></u></span>
        <span style="font-size:16px;">ले भरेको अनुसूची-३ को सूचना फाराम बमोजिम श्री <u><b>@Model.BajekoNaam</b></u> को नाती/नातिनी </span>
        <span style="font-size:16px;">श्री <u><b>@Model.BabuNaam</b></u> तथा श्रीमती <u><b>@Model.AamaNaam</b></u>को छोरा/छोरी </span>
        <span style="font-size:16px;"> <u><b>@Utility.GetStateById(Model.MrityuPradesh)</b></u> प्रदेश <u><b>@Utility.GetDistrictById(Model.MrityuJilla)</b></u> जिल्ला <u><b>@Utility.GetPalikaById(Model.MrityuPalika)</b></u> गाउँपालिका/नगरपालिका</span>
        <span style="font-size:16px;"> वार्ड नं. <u><b>@UnicodeConverter.Default(Model.MrityuWardNo)</b></u> मा बस्ने वर्ष <u><b>@UnicodeConverter.Default(Model.Age)</b></u> को/की श्री/श्रीमती <u><b>@Model.NaamThar</b></u> </span>
        <span style="font-size:16px;"> को मिति वि.स.<u><b>@UnicodeConverter.Default(Model.MrityuMiti)</b></u> (<u><b>@UnicodeConverter.Default(Convert.ToDateTime(Model.MrityuDate).ToShortDateString())</b></u> ई.स)मा मृत्यु भएको हो |</span>
    </div>
    <br />
    <table style="width:100%">
        <tr style="text-align:left;">
            <td>
                <table>
                    <tr><th>नागरिकता लिएको भए </th></tr>
                    <tr><th>नागरिकता प्र.प नं.,जारी मिति र जिल्ला</th></tr>
                    <tr><th>मृतकको:</th><td>@UnicodeConverter.Default(Model.NagariktaPraPaNo),(@UnicodeConverter.Default(Model.NagariktaIsssueDate),@Utility.GetDistrictById(Model.NagariktaIssueDistrict))</td></tr>

                </table>
            </td>
            <td>
                <table class="pull-right">
                    <tr><th>स्थानीय पन्जिकाधिकारीको</th></tr>
                    <tr><th>सही:</th></tr>
                    <tr><th>नाम,थर:</th><td>@Model.PanjiName</td></tr>
                    <tr><th>मिति:</th><td>@UnicodeConverter.Default(Model.FaramDartaMiti)</td></tr>
                </table>
            </td>
        </tr>

    </table>
    <br />
    @*english format*@
    <table style="width: 100%;">
        <tr>
            <td>
                <table class="pull-right">
                    <tr><th style="margin-bottom: 0px; line-height: 16px; color: red;">Schedule-13</th></tr>
                    <tr><th style="margin-bottom: 0px; line-height: 16px; color: red;">(Related with Rule 7)</th> </tr>
                </table>
            </td>
        </tr>
    </table>
    <div style="text-align:center;top:6mm;">
        <h4 style="margin-bottom: 0px; line-height: 16px; color: red;">Government of Nepal</h4>
        <h4 style="margin-bottom: 0px; line-height: 16px; color: red;">Ministry of Federal Affairs and Local Development</h4>
        <h4 style="margin-bottom: 0px; line-height: 16px; color: red;">Department of Civil Regestration</h4>
        <h4 style="margin-bottom: 0px; line-height: 16px; color: red;">Office of Local Registrar</h4>
        <h4 style="margin-bottom: 0px; line-height: 16px; color: red;">Ward No. @Model.PanjiWardNo , Office .......... , @Utility.GetPalikaName(Model.PanjiPalika) Municipality</h4>
        <h4 style="margin-bottom: 0px; line-height: 16px; color: red;">@Utility.GetDistrictName(Model.PanjiDistrict) District, @Utility.GetStateName(Model.PanjiState) ,Nepal</h4>

        @*<h4 style="margin-bottom: 0px; line-height: 25px;">@Utility.GetWarehouseName().TrimStart()</h4>
            <h4 style="margin-bottom: 0px; line-height: 20px;">@Utility.GetWarehouseAddress().TrimStart()</h4>*@
    </div>
    <div style="text-align:center; margin-top: 10px;">
        <h2 style="margin-bottom: 0px; line-height: 25px;font-size:18px;">
            <u>Death Registration Certificate</u>

        </h2>

    </div>
    <br />
    <table style="width:100%">
        <tr style="text-align:left;" class="row header">
            <td>
                <table>
                    <tr>
                        <th>Registration No.:</th>
                        <td>@Model.MrityuFaramDartaNo</td>
                    </tr>

                </table>

            </td>

            <td>
                <table class="pull-right">
                    <tr>
                        <th>Date of Regisration:</th>
                        <td>@Model.FaramDartaMiti</td>
                    </tr>

                </table>
            </td>

        </tr>
    </table>
    <table>
        <tr style="text-align:left;">
            <td>
                <table>
                    <tr>
                        <th>Family Record Form No.:</th>
                        <td>@Model.PariwarLagatFaramNo</td>
                    </tr>
                </table>
            </td>

        </tr>

    </table>
    <br />
    <div class="row" style="text-justify:auto">
        <span style="font-size:16px;">This is to certify, as per the death register maintained at this office and the information provided by Mr./Mrs. <u><b>@Model.InfFullName</b></u>  </span>
        <span style="font-size:16px;">in the information form of schedule 3, that Mr./Miss <u><b>@Model.FullName</b></u> aged <u><b>@Model.Age</b></u> </span>
        <span style="font-size:16px;">,son/daughter of Mr. <u><b>@Model.FatherName</b></u> and Mrs. <u><b>@Model.MotherName</b></u>, grandson/granddaughter of Mr. <u><b>@Model.Grandfather</b></u></span>
        <span style="font-size:16px;">, a resident of Ward No. <u><b>@Model.MrityuWardNo,</b></u><u><b>@Utility.GetPalikaName(Model.MrityuPalika)</b></u> Rural Municipality/Municipality,<u><b>@Utility.GetDistrictName(Model.MrityuJilla)</b></u></span>
        <span style="font-size:16px;">District,<u><b>@Utility.GetStateName(Model.MrityuPradesh)</b></u> Province was expired on <u><b>@Model.MrityuMiti</b></u>B.S (<u><b>@Convert.ToDateTime(Model.MrityuDate).ToShortDateString()</b></u>A.D)</span>
    </div>
    <br />
    <table style="width:100%">
        <tr style="text-align:left;">
            <td>
                <table>
                    <tr><th>Date,District and Citizenship No. if</th></tr>
                    <tr><th>Citizenship Certificate is issued to:</th></tr>
                    <tr><th>Deceased's:</th><td>@Model.NagariktaPraPaNo,(@Model.NagariktaIsssueDate,@Utility.GetDistrictName(Model.NagariktaIssueDistrict))</td></tr>
                </table>
            </td>
            <td>
                <table class="pull-right">
                    <tr><th>Local Registrar's</th></tr>
                    <tr><th>Signature:</th></tr>
                    <tr><th>Name and Surnmae:</th><td>@Model.PanjiName_Eng</td></tr>
                    <tr><th>Date:</th><td>@Model.FaramDartaMiti</td></tr>
                </table>
            </td>
        </tr>

    </table>
</div>

