@model SifarishView.Areas.GharJagga.Models.NirmanBebasahiApprovalViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details";
}



<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<br />
<style type="text/css">
    <!--
    p {
        margin: 0;
        padding: 0;
    }

    .ft20 {
        font-size: 21px;
        font-family: Times;
        color: #000000;
    }

    .ft21 {
        font-size: 25px;
        font-family: Times;
        color: #000000;
    }

    .ft22 {
        font-size: 16px;
        font-family: Times;
        color: #000000;
    }

    .ft23 {
        font-size: 21px;
        line-height: 24px;
        font-family: Times;
        color: #000000;
    }
    -->
</style>

<body bgcolor="#A0A0A0" vlink="blue" link="blue">
    <div class="card">
        <div class="content">

            <div id="page2-div" style="position:relative;width:893px;height:1262px;">

                <p style="position:absolute;top:34px;left:474px;white-space:nowrap" class="ft23">&#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;&#160;&#160;<br />&#160;</p>
                <p style="position:absolute;top:83px;left:111px;white-space:nowrap" class="ft20">&#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;&#160;&#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;&#160;&#160;&#160;&#160;मिति ः&#160;&#160; ................................&#160;</p>
                <p style="position:absolute;top:107px;left:86px;white-space:nowrap" class="ft21">श्री प्रमुख प्रशासकीय अधिकृत&#160;</p>
                <p style="position:absolute;top:135px;left:86px;white-space:nowrap" class="ft21">कीर्तिपुर नगर कार्यपालिकाको कार्यालय</p>
                <p style="position:absolute;top:162px;left:86px;white-space:nowrap" class="ft21">देवढोका, कीर्तिपुर</p>
                <p style="position:absolute;top:190px;left:329px;white-space:nowrap" class="ft21">विषय ः ईजाजत पत्र पाउँ भन्ने बारे । </p>
                <p style="position:absolute;top:218px;left:86px;white-space:nowrap" class="ft21">&#160;</p>
                <p style="position:absolute;top:245px;left:86px;white-space:nowrap" class="ft21">स्थानीय सरकार संचालन ऐ्न २०७४, निर्माण व्यवसाय ऐन, २०५५ तथा निर्माण व्यवसाय</p>
                <p style="position:absolute;top:286px;left:86px;white-space:nowrap" class="ft21">नियमावली २०५६ बमोजिम सार्वजनिक निर्माण कार्य गर्नको लागि इजाजतपत्र पाउन निम्न विवरण</p>
                <p style="position:absolute;top:328px;left:86px;white-space:nowrap" class="ft21">भरी यो दरखास्त पेश गरिएको छ ।</p>
                <p style="position:absolute;top:369px;left:140px;white-space:nowrap" class="ft21">१) दस्तखत पेश गर्ने फर्म वा कम्पनीको</p>
                <p style="position:absolute;top:411px;left:140px;white-space:nowrap" class="ft21"> क) नाम ः; @Model.Name</p>
                <p style="position:absolute;top:452px;left:140px;white-space:nowrap" class="ft21">ख) ठेगाना ः @Model.Address</p>
                <p style="position:absolute;top:493px;left:140px;white-space:nowrap" class="ft21">ग) पोष्ट बक्स नं ः @Model.PostBoxNo</p>
                <p style="position:absolute;top:535px;left:140px;white-space:nowrap" class="ft21"> घ) टेलिफोन नं ः @Model.Telephone</p>
                <p style="position:absolute;top:576px;left:140px;white-space:nowrap" class="ft21">&#160;</p>
                <p style="position:absolute;top:618px;left:140px;white-space:nowrap" class="ft21">२) फर्म वा कम्पनीको प्रकृति </p>
                <p style="position:absolute;top:659px;left:140px;white-space:nowrap" class="ft21">&#160;</p>
                <p style="position:absolute;top:659px;left:194px;white-space:nowrap" class="ft21"</p>
                <p style="position:absolute;top:659px;left:465px;white-space:nowrap" class="ft21">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;klAns&#160;lnld6]8&#160;sDkgL&#160;</p>
                <p style="position:absolute;top:701px;left:140px;white-space:nowrap" class="ft21">&#160;</p>
                <p style="position:absolute;top:701px;left:194px;white-space:nowrap" class="ft21">&#160;&#160;&#160;&#160;Psnf}6L&#160;</p>
                <p style="position:absolute;top:742px;left:140px;white-space:nowrap" class="ft21">(कोष्ठमा रेजा लगाउनु पर्नेछ ।)  </p>
                <p style="position:absolute;top:783px;left:140px;white-space:nowrap" class="ft21">&#160;</p>
                <p style="position:absolute;top:825px;left:140px;white-space:nowrap" class="ft21">३) सम्पर्कको लागि फर्म वा कम्पनीको आधिकारिक व्यक्तिको </p>
                <p style="position:absolute;top:866px;left:140px;white-space:nowrap" class="ft21">नामथर : @Model.ComapanyPersonelName</p>
                <p style="position:absolute;top:908px;left:140px;white-space:nowrap" class="ft21">ठेगाना : @Model.CompanyPersonelAddress</p>
                <p style="position:absolute;top:908px;left:248px;white-space:nowrap" class="ft21">&#160;</p>
                <p style="position:absolute;top:908px;left:302px;white-space:nowrap" class="ft21">&#160;</p>
                <p style="position:absolute;top:908px;left:356px;white-space:nowrap" class="ft21">&#160;</p>
                <p style="position:absolute;top:908px;left:410px;white-space:nowrap" class="ft21">&#160;</p>
                <p style="position:absolute;top:908px;left:465px;white-space:nowrap" class="ft21">&#160;&#160;</p>
                <p style="position:absolute;top:908px;left:519px;white-space:nowrap" class="ft21">&#160;पोष्ट बक्स नं ः @Model.CompanyPersonelPostbosNo</p>
                <p style="position:absolute;top:949px;left:140px;white-space:nowrap" class="ft21">टेलिफोन नं : @Model.CompanyPersonelTelephone</p>
                <p style="position:absolute;top:949px;left:302px;white-space:nowrap" class="ft21">&#160;</p>
                <p style="position:absolute;top:949px;left:356px;white-space:nowrap" class="ft21">&#160;</p>
                <p style="position:absolute;top:949px;left:410px;white-space:nowrap" class="ft21">&#160;</p>
                <p style="position:absolute;top:949px;left:465px;white-space:nowrap" class="ft21">&#160;&#160;&#160;&#160;फ्याक्स नं ः–@Model.CompanyPersonelFax &#160;&#160;</p>
                <p style="position:absolute;top:949px;left:681px;white-space:nowrap" class="ft21">&#160;</p>
                <p style="position:absolute;top:949px;left:735px;white-space:nowrap" class="ft21">&#160;</p>
                <p style="position:absolute;top:990px;left:140px;white-space:nowrap" class="ft21">ईमेल ः– @Model.CompanyPersonelEmail</p>
                <p style="position:absolute;top:1032px;left:140px;white-space:nowrap" class="ft21">&#160;</p>
                <p style="position:absolute;top:1073px;left:140px;white-space:nowrap" class="ft21">४ फर्म वा कम्पनीको विवरण </p>
                <p style="position:absolute;top:1114px;left:140px;white-space:nowrap" class="ft21">दर्ता नं ः– @Model.RegisterationNo</p>
                <p style="position:absolute;top:1114px;left:302px;white-space:nowrap" class="ft21">&#160;</p>
                <p style="position:absolute;top:1114px;left:356px;white-space:nowrap" class="ft21">&#160;</p>
                <p style="position:absolute;top:1114px;left:410px;white-space:nowrap" class="ft21">&#160;</p>
                <p style="position:absolute;top:1114px;left:465px;white-space:nowrap" class="ft21">&#160;</p>
                <p style="position:absolute;top:1114px;left:519px;white-space:nowrap" class="ft21"> दर्ता मिति ः @Model.RegistrarionDate</p>
                <p style="position:absolute;top:1156px;left:140px;white-space:nowrap" class="ft21">अधिकृत पूँजी @Model.AdhiriktaPuji</p>
                <p style="position:absolute;top:1156px;left:302px;white-space:nowrap" class="ft21">&#160;</p>
                <p style="position:absolute;top:1156px;left:356px;white-space:nowrap" class="ft21">&#160;</p>
                <p style="position:absolute;top:1156px;left:410px;white-space:nowrap" class="ft21">&#160;</p>
                <p style="position:absolute;top:1156px;left:465px;white-space:nowrap" class="ft21">&#160;</p>
                <p style="position:absolute;top:1156px;left:519px;white-space:nowrap" class="ft21">जारी पूँजी ः @Model.JariPugi</p>
                <p style="position:absolute;top:1197px;left:140px;white-space:nowrap" class="ft21">&#160;</p>
                <p style="position:absolute;top:668px;left:149px;white-space:nowrap" class="ft22">&#160;</p>
                <p style="position:absolute;top:666px;left:462px;white-space:nowrap" class="ft22">&#160;</p>
                <p style="position:absolute;top:706px;left:152px;white-space:nowrap" class="ft22">&#160;</p>
            </div>
        </div>
    </div>

</body>
</html>