<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
      @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/bootstrapcss")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/bootstrap/bootstrap-datetimepicker.min.css" rel="stylesheet" />
      
      
          @Scripts.Render("~/bundles/jquery")
          <script src="~/Scripts/jquery-1.8.3.min.js"></script>
        @Scripts.Render("~/bundles/bootstrapjq")
         @Scripts.Render("~/bundles/jqueryval")
           
        <script src="~/Scripts/bootstrap/bootstrap-datetimepicker.min.js"></script>
        <script src="~/Scripts/json.cycle.js"></script>
        <script src="~/Scripts/nepali.datepicker.js"></script>
<link href="~/Content/nepali.datepicker.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
