@model SifarishView.Areas.DartaSupplement.Models.NabalakSifarisViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Nabalak darta</title>
</head>
<body>
    <div class="well well-small">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-danger text-center">
                @TempData["message"]
            </div>
        }

        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.NabalakId)

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            Html.RenderPartial("VUC_Add");
            <br />
            <input type="submit" value="सेभ गर्नुहोस" class="btn" />
            <div class="btn"> @Html.ActionLink("पछाडी फर्कने", null, null, null, new { href = Request.UrlReferrer })</div>

        }
    </div>
</body>
</html>


