@model SifarishView.Areas.DartaSupplement.Models.NabalakSifarisViewModel
@using SifarishView.Converter
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/DataTable/datatables.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTable/datatables.min.js"></script>

@Html.HiddenFor(model => model.NabalakId)
<div class="row">
    <div class="span4">
        <h4>नाबालक सिफारिस</h4>
    </div>
    <div class="pull-right">
        <a class="btn btn-primary" href="~/DartaSupplement/NabalakSifaris/Create">
            नयाँ बनाउने
        </a>
    </div>
    @*@if (Utility.CheckCreateRightsForLoggedInUser("Employees", UserTypeId))
        {
            <div class="pull-right">
                <a class="btn btn-primary" href="@Url.Action("Create", "JanmaDarta")">
                    नयाँ बनाउने
                </a>
            </div>
        }*@
</div>
<div id="itemList" class="well well-small">
    @if (Model.NabalakSifarisViewModelList.Count > 0)
    {
        int Sno = ViewBag.currentPage == 1 ? 0 : (ViewBag.currentPage - 1) * 20;
        <table id="DartaTable" class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th class="span1"><label> क्र.सं.</label> </th>
                    <th>@Html.LabelFor(model => model.NabalakFaramNo)</th>
                    <th> @Html.LabelFor(model => model.NaamThar)</th>
                    <th>@Html.LabelFor(model => model.Gender)</th>
                    <th> @Html.LabelFor(model => model.BabukoNaamThar)</th>
                    <th> @Html.LabelFor(model => model.AamakoNaamThar)</th>
                    <th> @Html.LabelFor(model => model.JanmaMiti)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.NabalakSifarisViewModelList)
                {
                    <tr class="@(Sno++ % 2 == 0 ? "success" : "warning")">
                        <td class="span1">@UnicodeConverter.Default(@Sno.ToString())</td>
                        <td class="span2">@UnicodeConverter.Default(item.NabalakFaramNo)</td>
                        <td>@item.NaamThar</td>
                        <td>@Utility.GetGenderById(item.Gender)</td>
                        <td>@item.BabukoNaamThar</td>
                        <td>@item.AamakoNaamThar</td>
                        <td>@UnicodeConverter.Default(item.JanmaMiti)</td>
                        <td>
                            <a href="~/DartaSupplement/NabalakSifaris/Edit/@item.NabalakId" title="सम्पादन"><i class="fa fa-edit" style="color:blue;"></i></a>|
                            <a href="~/DartaSupplement/NabalakSifaris/PrintDarta/@item.NabalakId" title="प्रिन्ट"><i class="fa fa-print" style="color:blue;"></i></a>|
                            <a class="details" href="~/DartaSupplement/NabalakSifaris/Details/@item.NabalakId" title="विवरण हेर्नुहोस्"><i class="fa fa-pinterest" style="color:black;" data-toggle="modal" data-target="#myModal"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4>कुनै पनि रेकड फेला परेन!</h4>
    }
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="myModalLabel">नाबालक सिफारिस विवरण</h4>
            </div>
            <div id="ModalBody" class="modal-body">
                <form></form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //datatable
        var table = $("#DartaTable").DataTable({
            "order": false,
            "pageLength": 25,
            "language": {
                "lengthMenu": "Display _MENU_ records per page",
                "zeroRecords": "कुनै पनि रेकड फेला परेन!",
                "info": " पृष्ठ _PAGE_ को _PAGES_",
                "infoEmpty": "No records available",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "paginate":
                {
                    "previous": "आघिल्लो",
                    "next": "पछिल्लो"
                }
            }
        })
    });
</script>
<script>
    $(".details").on("click", function () {
        debugger;
        var href = $(this).attr('href');
        $.ajax({
            url: href,
            success: function (result) {
                debugger;
                if (result) {
                    $("#myModal").modal('show');
                    $('#ModalBody').html(result);
                }

            },
            error: function (xhr, status, error) {
                alert("Error");
            }
        });

    });
</script>


