<style>
    .dropdown-submenu {
        position: relative;
    }

        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px;
            border-radius: 0 6px 6px 6px;
        }

        .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }

        .dropdown-submenu > a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #ccc;
            margin-top: 5px;
            margin-right: -10px;
        }

        .dropdown-submenu:hover > a:after {
            border-left-color: #fff;
        }

        .dropdown-submenu.pull-left {
            float: none;
        }

            .dropdown-submenu.pull-left > .dropdown-menu {
                left: -100%;
                margin-left: 10px;
                -webkit-border-radius: 6px 0 6px 6px;
                -moz-border-radius: 6px 0 6px 6px;
                border-radius: 6px 0 6px 6px;
            }

    .dd-left {
        top: 0;
        right: 100% !important;
        left: auto !important;
        margin-left: 0px !important;
    }
</style>

<div class="navbar navbar-primary">
    <div class="navbar-inner">
        <p class="navbar-text pull-right">
            @Html.Partial("_LoginPartial")
        </p>
        <div class="container">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="dropdown"><a class="dropdown-toggle" href="#"><i class="fa fa-home" style="color: white; font-size: medium"></i>गृहपृष्ठ</a>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-th-list" style="color: white; font-size: medium"></i>मुख्य व्यवस्थापन</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("आर्थिक वर्ष", "Index", "FiscalYear")</li>
                            <li class="divider"></li>
                            <li class="dropdown-submenu">
                                <a href="#">कर्मचारी व्यवस्थापन</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("प्रयोगकर्ता प्रकार", "Index", "UserType") </li>
                                    <li>@Html.ActionLink("श्रेणी", "Index", "Shreni")</li>
                                    <li>@Html.ActionLink("पद", "Index", "Padha")</li>
                                    <li>@Html.ActionLink("कर्मचारी बिवरण", "Index", "Employees") </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-list" style="color: white; font-size: medium"></i>मुख्य कार्यहरु</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a href="#">सिफारिस</a>
                                <ul class="dropdown-menu">                                 
                                    <li><a href="~/Darta/JanmaDarta/Index">जन्म दर्ता(Birth Registration)</a></li>
                                    <li><a href="~/Darta/MrityuDarta/Index">मृत्यु दर्ता(Death Registration)</a></li>
                                    <li><a href="~/Darta/VivahDarta/Index">विवाह दर्ता(Marriage Registration)</a></li>
                                    <li><a href="~/Darta/BasaisaraiDarta/Index">बसाई सराई दर्ता(Residential Registration)</a></li>
                                    <li><a href="~/Darta/DivorceDarta/Index">सम्बन्ध बिच्छेद दर्ता(Divorce Registration)</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#">सिफारिस(New)</a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/DartaSupplement/NagariktaSifaris/Index">नागरिकता सिफारिस</a></li>
                                    <li><a href="~/DartaSupplement/NabalakSifaris/Index">नाबालक सिफारिस</a></li>
                                    <li><a href="~/DartaSupplement/NataPramanitSifaris/Index">नाता प्रमाणित सिफारिस</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-book" style="color: white; font-size: medium"></i>प्रतिवेदन</a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Darta/JanmaDarta/Report">जन्म दर्ता</a></li>
                            <li><a href="~/Darta/MrityuDarta/Report">मृत्यु दर्ता</a></li>
                            <li><a href="~/Darta/VivahDarta/Report">विवाह दर्ता</a></li>
                            <li><a href="~/Darta/BasaisaraiDarta/Report">बसाई सराई दर्ता</a></li>
                            <li><a href="~/Darta/DivorceDarta/Report">सम्बन्ध बिच्छेद  दर्ता</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

