@model IEnumerable<SifarishView.Areas.GharJagga.Models.DepartmentViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Index";
}



@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div class="card">
    <div class="header">
        <h4 class="title">@Html.ActionLink("नयाँ थप्नुहोस्", "AddOrEdit", new { id = 0 })</h4>
    </div>
    <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DepartmentName)


                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DepartmentAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DepartmentCode)
                    </th>
                   

                    @*<th>
                            @Html.DisplayNameFor(model => model.)
                        </th>*@

                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartmentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartmentAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartmentCode)
                        </td>
                       

                        @*<td>*@
                        @*@Html.DisplayFor(modelItem => item.District_Id)*@
                        @*</td>*@
                        <td>
                            @Html.ActionLink("Edit", "AddOrEdit", new { id = item.DeparmentId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.DeparmentId })
                            @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                        </td>
                    </tr>
                }
            </tbody>


        </table>
    </div>
</div>
