@model SifarishView.Areas.GharJagga.Models.NirmanBebasahiViewModel 
@{
    ViewBag.Title = "AddOrEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<body bgcolor="#A0A0A0" vlink="blue" link="blue">
    <div class="card">
        <div class="content">
            <div id="page1-div" style="position:relative;width:893px;height:1262px;">
                <div id="page2-div" style="position:relative;width:893px;height:1262px;">

                    <p style="position:absolute;top:34px;left:120px;white-space:nowrap" class="ft10">&#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;&#160;&#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;&#160; &#160; &#160; &#160;&#160;&#160; &#160;&#160;मिति ः–&#160;......................&#160;</p>
                    <p style="position:absolute;top:58px;left:86px;white-space:nowrap" class="ft11">श्री प्रमुख प्रशासकीय</p>
                    <p style="position:absolute;top:132px;left:308px;white-space:nowrap" class="ft10">अधिकृत कीर्तिपुर नगर कार्यपालिकाको कार्यालय;</p>
                    <p style="position:absolute;top:156px;left:86px;white-space:nowrap" class="ft10">देवढोका, कीर्तिपुर </p>
                    <p style="position:absolute;top:181px;left:140px;white-space:nowrap" class="ft10"> विषय ः ईजाजत नविकरण गरी पाउँ भन्ने बारे । </p>
                    <p style="position:absolute;top:218px;left:86px;white-space:nowrap" class="ft10">निर्माण व्यवसाय सञ्चालन गर्ने ईजाजत पत्र नविकरण गर्नका लागि देहाय बमोजिमको विवरणहरु खुलाई स्थानीय सरकार संचालन ऐ्न २०७४, </p>
                    <p style="position:absolute;top:254px;left:86px;white-space:nowrap" class="ft10">निर्माण व्यवसाय ऐन, २०५५ तथा निर्माण व्यवसाय नियमावली २०५६ बमोजिम यो दरखास्त पेश गरेको छु ।</p>
                    <p style="position:absolute;top:291px;left:140px;white-space:nowrap" class="ft10"> १) निर्माण व्यवसायी (फर्म वा कम्पनी) को    </p>
                    <p style="position:absolute;top:328px;left:140px;white-space:nowrap" class="ft10">  क) नाम ः– @Model.name</p>
                    <p style="position:absolute;top:365px;left:140px;white-space:nowrap" class="ft10">ख) ठेगाना ः–@Model.address</p>
                    <p style="position:absolute;top:402px;left:140px;white-space:nowrap" class="ft10">ग) पोष्ट बक्स नं ः@Model.postboxNo</p>
                    <p style="position:absolute;top:438px;left:140px;white-space:nowrap" class="ft10">घ) टेलिफोन नं : @Model.TelPhoneNo</p>
                    <p style="position:absolute;top:475px;left:140px;white-space:nowrap" class="ft10">ङ) फ्याक्स नं ः @Model.FaxNo</p>
                    <p style="position:absolute;top:512px;left:140px;white-space:nowrap" class="ft10">च) ईमेल ः–@Model.Email</p>
                    <p style="position:absolute;top:549px;left:140px;white-space:nowrap" class="ft10">२) निर्माण व्यवसायी दर्ता गर्ने कार्यालयको    </p>
                    <p style="position:absolute;top:586px;left:140px;white-space:nowrap" class="ft10">क) नाम ः–@Model.KaralayaName</p>
                    <p style="position:absolute;top:622px;left:140px;white-space:nowrap" class="ft10">ख) ठेगाना ः–@Model.KaralayaAddress</p>
                    <p style="position:absolute;top:659px;left:140px;white-space:nowrap" class="ft10">३) निर्माणको व्यवसायीको  क) प्रमाण पत्र नं ः–@Model.PramanPatraNo</p>
                    <p style="position:absolute;top:696px;left:140px;white-space:nowrap" class="ft10">ख) दर्ता मिति ः–@Model.RegisterdDate</p>
                    <p style="position:absolute;top:733px;left:140px;white-space:nowrap" class="ft10">४ क) इजाजत पत्र नं ः– @Model.approvalNo</p>
                    <p style="position:absolute;top:769px;left:140px;white-space:nowrap" class="ft10"> ख) इजाजत पत्र जारी भएको मिति ः– @Model.ApprovealDate</p>
                    <p style="position:absolute;top:806px;left:140px;white-space:nowrap" class="ft10">ग) इजाजत पत्र जारी गर्ने कार्यालय ः–@Model.ApprovalKaryalaya </p>
                    <p style="position:absolute;top:843px;left:140px;white-space:nowrap" class="ft10">५) क) संघ संगठन वा महासंघको नाम  ः– </p>
                    <p style="position:absolute;top:880px;left:140px;white-space:nowrap" class="ft10"> ख ) सदस्यता नं. ः–  @Model.MembershipNo</p>
                    <p style="position:absolute;top:917px;left:140px;white-space:nowrap" class="ft10"> ग) नविकरण मिति ः– @Model.RenewalDate </p>
                    <p style="position:absolute;top:953px;left:140px;white-space:nowrap" class="ft10">६) इजाजत पत्र नविकरण दस्तुर (थप दस्तुर) वापत रु ............................ अक्षरेपी </p>
                    <p style="position:absolute;top:990px;left:140px;white-space:nowrap" class="ft10">.............................................. जम्मा गरेको नगदी रसिद यसैसाथ संलग्न छ ।</p>
                    <p style="position:absolute;top:1027px;left:86px;white-space:nowrap" class="ft10"> </p>
                    <p style="position:absolute;top:1064px;left:140px;white-space:nowrap" class="ft10"> निर्माण व्यवसायीको छाप  </p>
                    <p style="position:absolute;top:1064px;left:356px;white-space:nowrap" class="ft10">&#160;</p>
                    <p style="position:absolute;top:1064px;left:410px;white-space:nowrap" class="ft10">&#160;</p>
                    <p style="position:absolute;top:1064px;left:465px;white-space:nowrap" class="ft10">निवेदक  फर्मको &#160;&#160;</p>
                    <p style="position:absolute;top:1101px;left:465px;white-space:nowrap" class="ft11">नाम ः @Model.FormName &#160;M&#160;<br />ठेगाना:@Model.FormAddress &#160;<br />सञ्चालक÷प्रोप्राइटरको नाम : @Model.SanchalakName &#160;M&#160;<br /> दस्तखत ः&#160;<br /> मिति ः @Model.Date&#160;</p>
                </div>
            </div>
            </div>
        </div>

</body>