@model SifarishView.Areas.Darta.Models.BasaisaraiDartaViewModel
@using SifarishView.Converter

@{
    ViewBag.Title = "बसाई सराई दर्ता-विवरण";
    Layout = null;
    int counter = 1;
}
<link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
<fieldset>
    <legend>बसाई सराई विवरण</legend>
    @foreach (var item in Model.BasaisaraiDartaViewModelList)
    {
        <dl class="span9">
            <dt class="span3">
                @Html.DisplayNameFor(model => model.GharMuliNaamThar)
            </dt>
            <dd class="span5">
                @item.GharMuliNaamThar
            </dd>
        </dl>
        <dl class="span9">
            <dt class="span3">
                @Html.DisplayNameFor(model => model.JanePermanentAddress)
            </dt>
            <dd class="span5">
                @item.JanePermanentAddress
            </dd>
        </dl>
        <dl class="span9">
            <dt class="span3">
                @Html.DisplayNameFor(model => model.AaunePermanentAddress)
            </dt>
            <dd class="span5">
                @item.AaunePermanentAddress
            </dd>
        </dl>

        <br />

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>क्र.सं.</th>
                    <th>पुरा नाम थर</th>
                    <th>लिङ्ग</th>
                    <th>सूचक संगको नाता</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var itm in item.BasaisaraiPersonalDetailsViewModelList)
                {
                    <tr>
                        <td>@UnicodeConverter.Default(counter)</td>
                        <td>@itm.NaamThar</td>
                        <td>@Utility.GetGenderById(itm.Gender)</td>
                        <td>@Utility.GetRelationById(itm.RelationTo)</td>
                    </tr>
                    counter++;
                }
            </tbody>
        </table>
    }


</fieldset>

